# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Environment
.env
.venv/
venv/

# LLM generated reward code should be ignored by default
generated_rewards/*

# Track specific LLLM generated reward code folders to run experiments on VM
!generated_rewards/crafter_openai-gpt-5.3-codex_20260306_162423
!generated_rewards/crafter_openai-gpt-5.3-codex_20260306_162423/**

# Ignore all experiment contents by default
experiments/**

# Track specific experiment runs
# 1M timesteps, implicit reward with GPT 5.2, seed=42
!experiments/crafter_implicit_openai-gpt-5.2_seed42_20260225_090107
!experiments/crafter_implicit_openai-gpt-5.2_seed42_20260225_090107**
# 1M timesteps, ground truth, seed=42
!experiments/crafter_ground_truth_seed42_20260303_155627
!experiments/crafter_ground_truth_seed42_20260303_155627/**
# 1M timesteps, ground truth, seed=123
!experiments/crafter_ground_truth_seed123_20260303_181955
!experiments/crafter_ground_truth_seed123_20260303_181955/**
# 1M timesteps, ground truth, seed=456
!experiments/crafter_ground_truth_seed456_20260303_204111
!experiments/crafter_ground_truth_seed456_20260303_204111/**
# 1M timesteps, implicit reward with Mistral, seed=42
!experiments/crafter_implicit_mistral-large-2512_seed42_20260306_180127
!experiments/crafter_implicit_mistral-large-2512_seed42_20260306_180127/**
# 1M timesteps, explicit reward with codex-5.3, 3 seeds
!experiments/crafter_explicit_crafter_openai-gpt-5.3-codex_20260306_162423_seed42_20260306_181250
!experiments/crafter_explicit_crafter_openai-gpt-5.3-codex_20260306_162423_seed42_20260306_181250/**
!experiments/crafter_explicit_crafter_openai-gpt-5.3-codex_20260306_162423_seed123_20260306_203315
!experiments/crafter_explicit_crafter_openai-gpt-5.3-codex_20260306_162423_seed123_20260306_203315/**
!experiments/crafter_explicit_crafter_openai-gpt-5.3-codex_20260306_162423_seed456_20260306_231918
!!experiments/crafter_explicit_crafter_openai-gpt-5.3-codex_20260306_162423_seed456_20260306_231918/**



# Ignore all scripts by default
scripts/**

# Track specific useful scripts
!scripts/run_seeds.sh

# Exploration scripts
src/explore_*.py

# IDE
.idea/
*.swp
.vscode/

# MacOS
.DS_Store
